In [1]:
pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.37)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=75c9e578a9eb93e43566fdb1fde45fbdd5a315a93efb2ad1cd0fb3d49dc6aa8d
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
import pandas as pd
import pandasql as ps

In [5]:
from google.colab import files
uploded = files.upload()

Saving employee_data.csv to employee_data.csv

In [ ]:
employee_data = pd.read_csv('employee_data.csv')
employee_data

In [ ]:
insurance_data = pd.read_csv('insurance_data.csv')
insurance_data

In [32]:
Task12 = ps.sqldf("""
---------------------WRITE QUERY BELOW---------------------

SELECT 
       E.AGENT_NAME, E.AGENT_ID, I.AGENT_ID, I.CLAIM_AMOUNT,
       CASE WHEN CLAIM_AMOUNT >= 15000 THEN 'SUSPISIOUS'
       ELSE 'NOT'
       END AS 'SUSPICIOUS'
FROM   
       insurance_data I JOIN employee_data E ON I.AGENT_ID = E.AGENT_ID;                  
   

---------------------WRITE QUERY ABOVE---------------------
""")

Task12

           AGENT_NAME    AGENT_ID    AGENT_ID  CLAIM_AMOUNT  SUSPICIOUS
0         Amy Wangler  AGENT00413  AGENT00413          9000         NOT
1      Jessica Montez  AGENT00769  AGENT00769         26000  SUSPISIOUS
2        Howard Smith  AGENT00883  AGENT00883         13000         NOT
3     Patricia Tucker  AGENT00278  AGENT00278         16000  SUSPISIOUS
4         Brenda Bean  AGENT00636  AGENT00636          3000         NOT
...               ...         ...         ...           ...         ...
9995    Melissa Scott  AGENT00779  AGENT00779          1000         NOT
9996     Freda Dudley  AGENT00254  AGENT00254         67000  SUSPISIOUS
9997    Victor Perrin  AGENT00786  AGENT00786          8000         NOT
9998       Maria Lynn  AGENT00927  AGENT00927          2000         NOT
9999      Carl Balado  AGENT00118  AGENT00118           300         NOT

[10000 rows x 5 columns]

In [37]:
Task12A = ps.sqldf("""
---------------------WRITE QUERY BELOW---------------------

SELECT 
       CLAIM_STATUS, RISK_SEGMENTATION, INCIDENT_SEVERITY,
       CASE WHEN CLAIM_STATUS = 'A' AND RISK_SEGMENTATION = 'H' AND INCIDENT_SEVERITY = 'Major Loss' THEN 1
       ELSE 0
       END AS 'SUSPICIOUS'
FROM   
       insurance_data I JOIN employee_data E ON I.AGENT_ID = E.AGENT_ID;                  
   

---------------------WRITE QUERY ABOVE---------------------
""")

Task12A

     CLAIM_STATUS RISK_SEGMENTATION INCIDENT_SEVERITY  SUSPICIOUS
0               A                 L        Major Loss           0
1               A                 L        Total Loss           0
2               A                 L        Total Loss           0
3               A                 L        Minor Loss           0
4               A                 M        Major Loss           0
...           ...               ...               ...         ...
9995            A                 M        Minor Loss           0
9996            A                 L        Total Loss           0
9997            A                 M        Major Loss           0
9998            A                 M        Total Loss           0
9999            A                 M        Total Loss           0

[10000 rows x 4 columns]

In [38]:
mean = Task12A.mean()
mean

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

SUSPICIOUS    0.0439
dtype: float64